body {
  padding: 5%;
}

h1,
h2 {
  font-family: fantasy, sans-serif;
  font-weight: 400;
  letter-spacing: 0.5rem;
  color: #f8f7ff;
  font-size: 4em;
  height: 70px;
  text-shadow: 2px 2px 4px #000000;
}

header {
  background-color: #22333b;
  border: 3px solid #eff7f6;
}

p {
  font-size: 2em;
  color: #22223b;
  text-align: justify;
  font-weight: 600;
  font-family: Courier, monospace;
}

#article {
  font-family: monospace;
  font-size: 2em;
  color: #0077b6;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 550px;
  width: 350px;
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  padding-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  border: 3px double #22223b;
  text-align: center;
  outline: 5px solid whitesmoke;
  outline-offset: -25px;
}
.circle {
  background-color: #0077b6;
  margin: 3rem auto;
  width: 100px;
  height: 100px;
  border: 2px solid #22223b;
  border-radius: 50px;
  outline: 2px solid #22223b;
  outline-offset: 0.25rem;
}

.me {
  color: #0077b6;
  font-family: Courier;
  font-weight: 400;
  text-decoration: underline #3e83a3;
  text-transform: none;
  text-align: left;
  text-indent: 0%;
  letter-spacing: -0.01em;
}

.footer {
  font-family: fantasy;
  text-align: left;
  font-size: 1.8em;
}

/* This is from the  contact page. */

.contact-h {
  color: #22223b;
}

a:link {
  background: #22223b;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  align-items: inherit;
  color: whitesmoke;
  font-size: 1.5em;
}

a:visited {
  color: #f8f7ff;
  back
}

a:hover {
  background-color: #326177;
}

i.fa-solid.fa-house {
  font-size: 30px;
}

.fa-brands {
  font-size: 30px;
}

#clickme{
  font-size: 1.8em;
}